<div id="main">

<h1>Hello, Rails!</h1>

<p>This is Rail's blog example introduced
    in the <a href="http://guides.rubyonrails.org/getting_started.html">Getting started guide</a>.
</p>

<p>So let's get started: <%= link_to "My Blog", posts_path %></p>
</div>