// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comment_body {
  font-size:1.1em;
  font-family:Georgia;
  width: 90%;
  height: 150px;
}