// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main {
    margin: 0 auto;
    width: 560px;

    h1 {
        text-align:center;
        margin-botton: 2em;
    }
}
