// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input#post_title,
textarea#post_content {
    width: 90%;
}
textarea#post_content {
    font-family:Georgia;
    font-size: 1.1em;
}
label.author {
    display: inline;
}
input#post_author {
    width: 80%;
}
#byline {
    font-style: italic;
}
#entry {
    margin-top:2em;
}
#comments {
    margin-top:4em;
}